@model SalesPerson

<!DOCTYPE html>
<html>
<head>
    <title>Sales Person Details</title>
</head>
<body>
    <h2>@Model.Name</h2>
    <p>Id: @Model.Id </p>
    <p>Hire date: @Model.HireDate</p>
    <p>Address: @Model.Address</p>
    <p>City: @Model.City</p>
    <p>Zip Code: @Model.ZipCode</p>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var order in @Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderName</td>
                <td>@order.OrderPrice</td>
                <td>@order.OrderDate.Substring(0,10)</td>
            </tr>
        }
        </tbody>
    </table>
</body>
</html>
